# .env.example

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=mydatabase
MYSQL_USER=myuser
MYSQL_PASSWORD=mypassword
JWT_SECRET_KEY=mysecretkey

#s3  config
YOUR_ACCESS_KEY = AccessKeyForAws
YOUR_SECRET_KEY = SecretKeyForAws
